.cartIconContainer {
    width: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cartIconContainer .shoppingIcon {
    width: 30px;
    height: 30px;
}

.cartIconContainer .itemCount {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 3px;
    color: white;
}