.checkoutItemContainer {
    width: 100%;
    display: flex;
    min-height: 100px;
    border-bottom: 1px solid darkgrey;
    padding: 15px 0;
    font-size: 2vw;
    align-items: center;
}

.checkoutItemContainer .imageContainer {
    width: 23%;
    padding-right: 15px;
}

.checkoutItemContainer .imageContainer img {
    width: 100%;
    height: 100%;
}

.checkoutItemContainer .name,
.quantity,
.price {
    width: 23%;
}

.checkoutItemContainer .quantity {
    display: flex;
}

.checkoutItemContainer .quantity .arrow {
    cursor: pointer;
}

.checkoutItemContainer .quantity .value {
    margin: 0 10px;
}

.checkoutItemContainer .removeButton {
    cursor: pointer;
    font-weight: bold;
}